<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>47394972227-f2j7d6nlsvrsjt793o7fht9kno9kf3ki.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.47394972227-f2j7d6nlsvrsjt793o7fht9kno9kf3ki</string>
	<key>API_KEY</key>
	<string>AIzaSyBMbC48gwVcjzrNaHZo_ZfLuAjg7oHBBiQ</string>
	<key>GCM_SENDER_ID</key>
	<string>47394972227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.buildSolution</string>
	<key>PROJECT_ID</key>
	<string>build-solution-9d13f</string>
	<key>STORAGE_BUCKET</key>
	<string>build-solution-9d13f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47394972227:ios:3e98da00dba8bfb2bfeaf6</string>
</dict>
</plist>